<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index3</title>
</head>
<body>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li>
{#                    <a href="/polls/{{ question.id }}/">#}
{#                        {{ question.questionText }}#}
{#                    </a>#}

                    <a href="{% url 'polls:detail' question.id %}">
                        {{ question.questionText }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>